{
  "branches": [
    "main"
  ],
  "plugins": [
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist.zip",
            "name": "extension-${nextRelease.gitTag}.zip",
            "label": "Download this file to install extension (${nextRelease.gitTag})."
          }
        ]
      }
    ]
  ]
}
