{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ],
        "message": "chore(release): [skip ci] bump package.json to ${nextRelease.version}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist.zip",
            "name": "extension-${nextRelease.gitTag}.zip",
            "label": "Download this file to install extension (${nextRelease.gitTag})."
          }
        ]
      }
    ]
  ]
}
